@import "tailwindcss"                                               ;

body                          {
    margin               :   0                                      ;
    font-family          :   Inter, system-ui, sans-serif           ;
    background           : #f6f8fb                                ;
    color                : #1f2937                                ;
}

@media (max-width: 900px)     {
    main {
    grid-template-columns : 1fr                                     ;
    }
}


@media (max-width: 768px)         {
    .store-content {
        grid-template-columns : 1fr                                 ;
    }

    .auth-container {
        margin           : 20px                                     ;
    }
}